# Groupby
Nos permite agrupar filas basandonos en los valores de una columna y llevar a cabo una funcion de agregacion<BR>
    <B>Agrupamos</B> por ID y <B>agregamos</B> por Dato<BR>
La agregacion puede ser de diferentes formas

ID	Dato<BR>			
1	5<BR>
1	6<BR>
1	4<BR>
1	3<BR>
2	4<BR>
2	3<BR>
2	7<BR>
3	5<BR>
3	6<BR>
3	7<BR>
3	3<BR>
<BR>
ID	Dato<BR>
1	18<BR>
2	14<BR>
3	21<BR>

In [1]:
import numpy as np
import pandas as pd

Vamos a crear un dataframe para trabajar

In [2]:
datos={'Carrera':['ISF','ISF','ITI','ITI','IND','IND','ISF'],
      'Materia':['C++','C#','WAN','LAN','Costos','Calculo','IA'],
      'Promedio':[8.3,9.1,9.5,8.7,9.3,8.5,10]}
df1=pd.DataFrame(datos)
print(df1)

  Carrera  Materia  Promedio
0     ISF      C++       8.3
1     ISF       C#       9.1
2     ITI      WAN       9.5
3     ITI      LAN       8.7
4     IND   Costos       9.3
5     IND  Calculo       8.5
6     ISF       IA      10.0

## Agrupamiento y operaciones basicas
* Ahora agruparemos por carrera, usamos groupby y pasamos la columna que nos interesa
* Luego indicamos el tipo de agregacion, por ejemplo mean y nos da la media
* La media al ser un valor numerico ignora a Materia

In [3]:
# Agrupamos por carrera
carreras=df1.groupby('Carrera')
# agregamos usando la media
carreras.mean()

         Promedio
Carrera
IND      8.900000
ISF      9.133333
ITI      9.100000

In [4]:
# Guardamos la agregacion suma en una variable
sumatoria=carreras.sum()
print(sumatoria)
print('------')

# Obtenemos el valor de la columna promedio en la fila 1 (ISF)
s=sumatoria.iloc[1]['Promedio']
print(s)

         Promedio
Carrera
IND          17.8
ISF          27.4
ITI          18.2
------
27.4

In [5]:
# Agregamos por desviacion estandar
carreras.std()

         Promedio
Carrera
IND      0.565685
ISF      0.850490
ITI      0.565685

Podemos usar locacion para encontrar un valor en particular

In [6]:
mediaISF=carreras.mean().loc['ISF']
print(mediaISF)
print('------')
print(float(mediaISF))

Promedio    9.133333
Name: ISF, dtype: float64
------
9.133333333333333

count nos da la cantidad de instancias por columna

In [7]:
carreras.count()

         Materia  Promedio
Carrera
IND            2         2
ISF            3         3
ITI            2         2

Podemos encontrar el maximo o minimo

In [8]:
carreras.max()

        Materia  Promedio
Carrera
IND      Costos       9.3
ISF          IA      10.0
ITI         WAN       9.5

In [9]:
carreras.min()

         Materia  Promedio
Carrera
IND      Calculo       8.5
ISF           C#       8.3
ITI          LAN       8.7

## Obtener informacion

Podemos ver las primeras filas del dataframe con head, si no pasamos parametro muestra las primeras 5 filas

In [10]:
#carreras.head()
df1.head(3)

  Carrera Materia  Promedio
0     ISF     C++       8.3
1     ISF      C#       9.1
2     ITI     WAN       9.5

In [11]:
df1.head()

  Carrera Materia  Promedio
0     ISF     C++       8.3
1     ISF      C#       9.1
2     ITI     WAN       9.5
3     ITI     LAN       8.7
4     IND  Costos       9.3

Para obtener informacion estadistica que nos puede servir usamos describe

In [12]:
carreras.describe()

        Promedio
           count      mean       std  min  25%  50%   75%   max
Carrera
IND          2.0  8.900000  0.565685  8.5  8.7  8.9  9.10   9.3
ISF          3.0  9.133333  0.850490  8.3  8.7  9.1  9.55  10.0
ITI          2.0  9.100000  0.565685  8.7  8.9  9.1  9.30   9.5

In [13]:
# Solo las columnas numericas se usan para calcular las estadisticas, por eso solo aparece Promedio
df1.describe()

        Promedio
count   7.000000
mean    9.057143
std     0.599603
min     8.300000
25%     8.600000
50%     9.100000
75%     9.400000
max    10.000000

Podemos hacer una transpuestra a la tabla para presentar la informacion de otra forma

In [14]:
carreras.describe().transpose()

Carrera              IND        ISF       ITI
Promedio count  2.000000   3.000000  2.000000
         mean   8.900000   9.133333  9.100000
         std    0.565685   0.850490  0.565685
         min    8.500000   8.300000  8.700000
         25%    8.700000   8.700000  8.900000
         50%    8.900000   9.100000  9.100000
         75%    9.100000   9.550000  9.300000
         max    9.300000  10.000000  9.500000

In [15]:
df1.describe().T

          count      mean       std  min  25%  50%  75%   max
Promedio    7.0  9.057143  0.599603  8.3  8.6  9.1  9.4  10.0

Para obtener de solo una carrera

In [16]:
carreras.describe().transpose()['ISF']

Promedio  count     3.000000
          mean      9.133333
          std       0.850490
          min       8.300000
          25%       8.700000
          50%       9.100000
          75%       9.550000
          max      10.000000
Name: ISF, dtype: float64