# Pandas
* Es una biblioteca que esta construida sobre **Numpy**.
* No ayuda en el análisis, limpieza y preparación de los datos.
* Es rápido y eficiente.
* Tiene algunas herramientas de visualización.
* Nos permite trabajar con datos que proveienen de diferentes fuentes.

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.4.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.7/11.7 MB 29.5 MB/s eta 0:00:00[36m0:00:01[36m0:00:0101
Requirement already satisfied: pytz>=2020.1 in /home/wdna/miniconda3/envs/python3.10/lib/python3.10/site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/wdna/miniconda3/envs/python3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /home/wdna/miniconda3/envs/python3.10/lib/python3.10/site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /home/wdna/miniconda3/envs/python3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.4.2

## Series
* Es similar a un arreglo de numpy.
* La diferencia que tiene, es que nos permiten tener **etiquetas** e **indexar por etiqueta**.

In [3]:
import numpy as np
import pandas as pd
print(np.__version__)
print(pd.__version__)

1.22.4
1.4.2

## Creacion de series
* Podemos crear series de una variedad de tipos de datos.
* Empezamos con una lista.
* **data** es el parametro al cual le pasamos la lista con nuetros datos hay que notar que han quedado indexados.

In [4]:
misdatos=[5,10,15]
s1=pd.Series(data=misdatos)
print(s1)

0     5
1    10
2    15
dtype: int64

* Si lo deseamos podemos indicar los índices por medio de etiquetas.

In [5]:
misIndices=['a','b','c']
s1=pd.Series(data=misdatos, index=misIndices)
print(s1)

a     5
b    10
c    15
dtype: int64

* Podemos pasar un arreglo de numpy

In [13]:
arreglo=np.arange(3,9)
s2=pd.Series(data=arreglo)
print(s2)

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64

* Podemos usar también un diccionario, en este caso las llaves quedan como índices

In [9]:
miDic={'a':20, 'b':30, 'c':40, 'd':50}
s3=pd.Series(data=miDic)
print(s3)

a    20
b    30
c    40
d    50
dtype: int64

* Una ventaja que tienen las series es que pueden tener elementos de diferentes tipos, no solo números

In [10]:
palabras=['hola','a','todos','mis amigos',5,True]
s4=pd.Series(data=palabras)
print(s4)

0          hola
1             a
2         todos
3    mis amigos
4             5
5          True
dtype: object

## Acceso
* Podemos acceder a los elementos por medio del índice numérico.

In [14]:
print(s2)
# Adquirimos el elemento
numero=s2[3]
print('número vale ',numero)

# Asignamos en el elemento
s2[4]=100
print(s2)

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
número vale  6
0      3
1      4
2      5
3      6
4    100
5      8
dtype: int64

* También podemos acceder con el nombre del índice

In [15]:
print(s3)
valor=s3['b']
print("valor es ", valor)
s3['c']=45
print(s3)

a    20
b    30
c    40
d    50
dtype: int64
valor es  30
a    20
b    30
c    45
d    50
dtype: int64

## Operaciones aritmeticas

* Se puden hacer operaciones aritméticas con las series $+ - * /$
* Hay que tener cuidado que serie aparece primera como operando.
* Los elementos no correspondientes aparecen como **NaN**.
* Cuando se usan operaciones los valores se convierte automaticamente a flotantes.

In [16]:
tienda1=pd.Series(data=[1,2,3,4], index=['Manzana','Pera','Mango','Platano'])
tienda2=pd.Series(data=[3,5,7,8], index=['Manzana','Aguacate','Mango','Ciruela'])
print(tienda1)
print(tienda2)

Manzana    1
Pera       2
Mango      3
Platano    4
dtype: int64
Manzana     3
Aguacate    5
Mango       7
Ciruela     8
dtype: int64

In [17]:
total1=tienda1+tienda2
print(total1)

Aguacate     NaN
Ciruela      NaN
Mango       10.0
Manzana      4.0
Pera         NaN
Platano      NaN
dtype: float64

In [18]:
resta1=tienda1-tienda2
print(resta1)

Aguacate    NaN
Ciruela     NaN
Mango      -4.0
Manzana    -2.0
Pera        NaN
Platano     NaN
dtype: float64

In [19]:
producto=tienda1*tienda2
print(producto)

Aguacate     NaN
Ciruela      NaN
Mango       21.0
Manzana      3.0
Pera         NaN
Platano      NaN
dtype: float64

In [20]:
div=tienda1/tienda2
print(div)

Aguacate         NaN
Ciruela          NaN
Mango       0.428571
Manzana     0.333333
Pera             NaN
Platano          NaN
dtype: float64